@import "tailwindcss";

.roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.active{
    background-color: rgba(238,218,181,0.6);
}
